HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### application classes to not change ###
src/main/java/com/socialize/auth
src/main/java/com/socialize/security
src/main/java/com/socialize/model
src/main/java/com/socialize/dto
src/main/java/com/socialize/enums
src/main/resources

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/java/com/socialize/work-of-dilan.js
